[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
tqdm = "*"
attrs = "*"
cssselect = "*"
arrow = "*"
flask = "*"
gunicorn = "*"
robobrowser = "*"
redis = "*"
schedule = "*"
responses = "*"
pytest = "*"
werkzeug = "==0.16.1"
sentry-sdk = "*"

[dev-packages]
ipdb = "*"
pdbpp = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
