[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
tqdm = "*"
attrs = "*"
cssselect = "*"
arrow = "*"
flask = "*"
gunicorn = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
