[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
tqdm = "*"
cssselect = "*"
arrow = "*"
flask = "*"
gunicorn = "*"
robobrowser = "*"
redis = "*"
werkzeug = "==1.0.1"
sentry-sdk = "*"
blinker = "*"

[dev-packages]
betamax = "*"
snapshottest = "*"
pytest = "*"
responses = "*"
ipdb = "*"
pdbpp = "*"
pre-commit = "*"
betamax-serializers = "*"
mypy = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
