http_interactions:
- recorded_at: '2020-05-31T04:44:18'
  request:
    body:
      encoding: utf-8
      string: ''
    headers:
    method: GET
    uri: https://www.victoriapark.wa.gov.au/Found-animals
  response:
    body:
      encoding: utf-8
      string: "<!DOCTYPE html>\r\n<!--[if lt IE 7]>      <html class=\"no-js lt-ie9\
        \ lt-ie8 lt-ie7\" lang=\"en\"> <![endif]-->\r\n<!--[if IE 7]>         <html\
        \ class=\"no-js lt-ie9 lt-ie8\" lang=\"en\"> <![endif]-->\r\n<!--[if IE 8]>\
        \         <html class=\"no-js lt-ie9\" lang=\"en\"> <![endif]-->\r\n<!--[if\
        \ gt IE 8]><!-->\r\n<html class=\"no-js\" lang=\"en-AU\">\r\n<!--<![endif]-->\r\
        \n<head>\n\t<!-- Published by OpenCities, 1.20.0.3 -->\n\r\n    \r\n     \
        \   \r\n    \r\n    \r\n    <meta charset=\"utf-8\">\r\n    <meta http-equiv=\"\
        X-UA-Compatible\" content=\"IE=edge,chrome=1\">\r\n    <meta name=\"theme-color\"\
        \ content=\"#3A82CF\"/>\r\n    <title>Found animals  - Victoria Park</title>\n\
        \t<meta name=\"generator\" content=\"OpenCities - http://www.opencities.com\"\
        \ />\n\r\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"\
        >\r\n    <meta name=\"apple-mobile-web-app-capable\" content=\"yes\" />\r\n\
        \        <meta name=\"description\" content=\"Any animals picked up or handed\
        \ into Town Rangers will be listed here.\" />\r\n    <meta property=\"og:type\"\
        \ con[...]
