http_interactions:
- recorded_at: '2020-05-31T04:44:25'
  request:
    body:
      encoding: utf-8
      string: ''
    headers:
    method: GET
    uri: https://eservices.gosnells.wa.gov.au/data/impounds
  response:
    body:
      encoding: utf-8
      string: "<!DOCTYPE html>\r\n<html>\r\n<head>\r\n    <meta charset=\"utf-8\"\
        \ />\r\n    <meta name=\"viewport\" content=\"width=device-width\" />\r\n\
        \    <title>Animals currently impounded :: City of Gosnells</title>\r\n  \
        \  <link rel=\"shortcut icon\" href=\"https://www.gosnells.wa.gov.au/files/templates/00000000-0000-0000-0000-000000000000/0509650e-6570-4c85-99be-550d423317ed/favicon.ico\"\
        \ type=\"image/x-icon\">\r\n    <link href=\"/Data/Content/www.css\" type=\"\
        text/css\" rel=\"stylesheet\" />\r\n    <style type=\"text/css\">\r\n    \
        \    body {\r\n            background-image: url(http://www.gosnells.wa.gov.au/files/templates/00000000-0000-0000-0000-000000000000/0509650e-6570-4c85-99be-550d423317ed/main_bg-resp.jpg);\r\
        \n            background-color: #f5f7f9;\r\n            background-repeat:\
        \ no-repeat;\r\n        }\r\n        .contentdiv {\r\n            background-color:\
        \ #FFFFFF;\r\n            padding: 10px;\r\n            margin-top:23px;\r\
        \n        }\r\n        .logotop {\r\n            margin-top: 23px;\r\n   \
        \     }\r\n        .mainwidth {\r\n            max-width: 100%;\r\n      \
        \      width:1200px;\r\n        }\r\n    </style>\r\n\r\n    <script src=\"\
        https://www.gosnells.wa.gov.au/files/templates/00000000-0000-0000-0000-000000000000/0509650e-6570-4c85-99be-550d423317ed/jquery.js\"\
        \ language=\"javascript\" type=\"text/javascript\"></script>\r\n</head>\r\n\
        <body>\r\n  \r\n    <div class=\"mainwidth\">\r\n        <div class=\"logotop\"\
        ><a href=\"http://www.gosnells.wa.gov.au/home\"><img src=\"http://www.gosnells.wa.gov.au/files/templates/00000000-0000-0000-0000-000000000000/0509650e-6570-4c85-99be-550d423317ed/logo_main.gif\"\
        \ alt=\"City of Gosnells\" width=\"217\" height=\"49\" style=\"border:0px;\"\
        ></a></div>\r\n        <div class=\"contentdiv\">\r\n            \r\n\r\n\r\
        \n\r\n<style type=\"text/css\">\r\n    table {\r\n        width: 55%;\r\n\
        \        max-width: 1200px;\r\n    }\r\n\r\n        table td:first-of-type\
        \ {\r\n    [...]
