http_interactions:
- recorded_at: '2020-05-31T04:44:29'
  request:
    body:
      encoding: utf-8
      string: ''
    headers:
    method: GET
    uri: https://www.cockburn.wa.gov.au/Health-and-Safety/Dogs-and-Cats/Animal-Pound-Dogs-and-Cats
  response:
    body:
      encoding: utf-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head id=\"head\"><title>\r\n\t\
        Animal Pound (Dogs and Cats) - City of Cockburn\r\n</title><meta name=\"description\"\
        \ content=\"Contact the City\u2019s Ranger Services on 08 9411 3444 if you\
        \ have lost or found a dog or cat in Cockburn. View information on currently\
        \ impounded animals at the Cockburn animal pound.\"> \n<meta charset=\"UTF-8\"\
        > \n<meta name=\"keywords\" content=\"Lost dog or cat, who to contact for\
        \ a lost dog or cat, are there fees for lost animals, City Of Cockburn pound,\
        \ contact rangers, lost pets, I have lost my dog, I have lost my cat, lost\
        \ cat in Cockburn, lost dog in Cockburn, where is the pound in Cockburn, pound\
        \ fees in Cockburn, find a lost cat in Cockburn, find a lost dog in Cockburn,\
        \ Cockburn ranges, lost dog, pound, lost cat, report lost dog, report lost\
        \ cat\"> \n<link rel=\"dns-prefetch\" href=\"//ajax.googleapis.com\">\t<link\
        \ rel=\"preconnect\" href=\"//ajax.googleapis.com\">\r\n<link rel=\"dns-prefetch\"\
        \ href=\"//cdnjs.cloudflare.com\">\t<link rel=\"preconnect\" href=\"//cdnjs.cloudflare.com\"\
        >\r\n<link rel=\"dns-prefetch\" href=\"//connect.facebook.net\">\t<link rel=\"\
        preconnect\" href=\"//connect.facebook.net\">\r\n<link rel=\"dns-prefetch\"\
        \ href=\"//f1-oc.readspeaker.com\">\t<link rel=\"preconnect\" hr[...]
