http_interactions:
- recorded_at: '2020-05-31T04:44:18'
  request:
    body:
      encoding: utf-8
      string: ''
    headers:
    method: GET
    uri: https://www.armadale.wa.gov.au/lost-cats-and-dogs-animal-management-facility
  response:
    body:
      encoding: utf-8
      string: "<!DOCTYPE html>\r\n<!--[if IEMobile 7]><html class=\"iem7\"  lang=\"\
        en\" dir=\"ltr\"><![endif]-->\r\n<!--[if lte IE 6]><html class=\"lt-ie9 lt-ie8\
        \ lt-ie7\"  lang=\"en\" dir=\"ltr\"><![endif]-->\r\n<!--[if (IE 7)&(!IEMobile)]><html\
        \ class=\"lt-ie9 lt-ie8\"  lang=\"en\" dir=\"ltr\"><![endif]-->\r\n<!--[if\
        \ IE 8]><html class=\"lt-ie9\"  lang=\"en\" dir=\"ltr\"><![endif]-->\r\n<!--[if\
        \ (gte IE 9)|(gt IEMobile 7)]><!--><html  lang=\"en\" dir=\"ltr\" prefix=\"\
        content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/\
        \ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema#\
        \ sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos:\
        \ http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#\"\
        ><!--<![endif]-->\r\n\r\n<head>\r\n  <meta charset=\"utf-8\" />\n<link rel=\"\
        shortcut icon\" href=\"https://www.armadale.wa.gov.au/favicon.ico\" type=\"\
        image/vnd.microsoft.icon\" />\n<meta name=\"google-site-verification\" content=\"\
        6eeivKMSi5O33uhbU5sGySWECPHbDbjC9zGZRlD4_d0\" />\n<meta name=\"description\"\
        \ content=\"Find out about lost cats and dogs and currently impounded animals.\"\
        \ />\n<meta name=\"keywords\" content=\"pound, cat, dog, impounded cat, impounded\
        \ dog, picked up cat, picked up dog, animal management\" />\n<meta name=\"\
        generator\" content=\"Drupal 7 (http://drupal.org)\" />\n<link rel=\"canonical\"\
        \ href=\"https://www.armadale.wa.gov.au/lost-cats-and-dogs-animal-management-facility\"\
        \ />\n<link rel=\"shortlink\" href=\"https://www.armadale.wa.gov.au/node/9010\"\
        \ />\n  <title>Lost cats and dogs (Animal Management Facility) | City of Armadale</title>\r\
        \n\r\n      <meta name=\"MobileOptimized\" content=\"width\">\r\n    <meta\
        \ name=\"HandheldFriendly\" content=\"true\">\r\n    <meta name=\"viewport\"\
        \ content=\"width=device-width\">\r\n  \r\n  <style>\n@import url(\"https://www.armadale.wa.gov.au/modules/system/system.base.css?qb5ye1\"\
        );\n</style>\n<style>\n@import url(\"https://www.armadale.wa.gov.au/modules/comment/comment.css?qb5ye1\"\
        );\n@import url(\"https://www.armadale.wa.gov.au/sites/all/modules/date/date_api/date.css?qb5ye1\"\
        );\n@import url(\"https://www.armadale.wa.gov.au/sites/all/modules/date/date_popup/themes/datepicker.1.7.css?qb5ye1\"\
        );\n@import url(\"https://www.armadale.wa.gov.au/sites/[...]
