http_interactions:
- recorded_at: '2020-05-31T04:44:21'
  request:
    body:
      encoding: utf-8
      string: ''
    headers:
    method: GET
    uri: https://www.cathavenlostandfound.com/incoming-cats
  response:
    body:
      encoding: utf-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta http-equiv=\"\
        X-UA-Compatible\" content=\"IE=Edge\"/>\n    \n    <meta charset=\"utf-8\"\
        />\n    <meta name=\"generator\" content=\"Wix.com Website Builder\"/>\n \
        \   <link rel=\"shortcut icon\" href=\"https://static.parastorage.com/client/pfavico.ico\"\
        \ type=\"image/x-icon\"/>\n    <link rel=\"apple-touch-icon\" href=\"https://static.parastorage.com/client/pfavico.ico\"\
        \ type=\"image/x-icon\"/>\n    \n    \n    \n    \n    <meta http-equiv=\"\
        X-Wix-Meta-Site-Id\" content=\"0e9c7129-e1d5-44ca-9d4d-32b607186954\"/>\n\
        \    <meta http-equiv=\"X-Wix-Application-Instance-Id\" content=\"7bfdeee2-7605-41e0-a5b7-025c85c5ae79\"\
        />\n    \n    \n        <meta http-equiv=\"X-Wix-Published-Version\" content=\"\
        9752\"/>\n    \n    \n    \n    \n    <meta name = \"format-detection\" content\
        \ = \"telephone=no\"/>\n    \n    \n\n    <meta name=\"SKYPE_TOOLBAR\" content=\"\
        SKYPE_TOOLBAR_PARSER_COMPATIBLE\"/>\n\n    \n     <meta id=\"wixMobileViewport\"\
        \ name=\"viewport\" content=\"width=980, user-scalable=yes\"/>\n    \n\n \
        \   \n    \n    \n    \n\n    \n\n\n\n\n\n    <!-- META DATA -->\n    <script\
        \ type=\"text/javascript\">\n        \n\n        var serviceTopology = {\"\
        cacheKillerVersion\":\"1\",\"staticServerUrl\":\"https://static.parastorage.com/\"\
        ,\"usersScriptsRoot\":\"//static.parastorage.com/services/wix-users/2.660.0\"\
        ,\"biServerUrl\":\"https://frog.wix.com/\",\"userServerUrl\":\"https://users.wix.com/\"\
        ,\"billingServerUrl\":\"https://premium.wix.com/\",\"mediaRootUrl\":\"https://static.wixstatic.com/\"\
        ,\"logServerUrl\":\"https://frog.wix.com/plebs\",\"monitoringServerUrl\":\"\
        https://TODO/\",\"usersClientApiUrl\":\"https://users.wix.com/wix-users\"\
        ,\"publicStaticBaseUri\":\"//static.parastorage.com/services/wix-public/1.299.0\"\
        ,\"basePublicUrl\":\"https://www.wix.com/\",\"postLoginUrl\":\"https://www.wix.com/my-account\"\
        ,\"postSignUpUrl\":\"https://www.wix.com/new/account\",\"baseDomain\":\"wix.com\"\
        ,\"staticMediaUrl\":\"https://static.wixstatic.com/media\",\"staticAudioUrl\"\
        :\"https://music.wixstatic.com/mp3\",\"staticDocsUrl\":\"https://docs.wixstatic.com/ugd\"\
        ,\"emailServer\":\"https://assets.wix.com/common-services/notification/invoke\"\
        ,\"blobUrl\":\"https://static.parastorage.com/wix_blob\",\"htmlEditorUrl\"\
        :\"http://editor.wix.com/html\",\"siteMembersUrl\":\"https://users.wix.com/wix-sm\"\
        ,\"scriptsLocationMap\":{\"automation\":\"https://static.parastorage.com/services/automation/1.23.0\"\
        ,\"bootstrap\":\"https://static.parastorage.com/services/bootstrap/2.1229.80\"\
        ,\"ck-editor\":\"https://static.parastorage.com/services/ck-editor/1.87.3\"\
        ,\"cookie-consent-policy-client\":\"https://static.parastorage.com/services/cookie-consent-policy-client/1.119.0\"\
        ,\"core\":\"https://static.parastorage.com/services/core/2.1229.80\",\"dbsm-editor-app\"\
        :\"https://static.parastorage.com/services/dbsm-editor-app/1.1670.0\",\"dbsm-viewer-app\"\
        :\"https://static.parastorage.com/services/dbsm-viewer-app/1.1098.0\",\"ecommerce\"\
        :\"https://static.parastorage.com/services/ecommerce/1.203.0\",\"editor-elements\"\
        :\"https://static.parastorage.com/services/editor-elements/1.637.0\",\"fallback-viewer-app\"\
        :\"https://static.parastorage.com/services/fallback-viewer-app/1.0.0\",\"\
        js-platform-apps-configuration\":\"https://static.parastorage.com/services/js-platform-apps-configuration/1.235.0\"\
        ,\"js-wixcode-sdk\":\"https://static.parastorage.com/services/js-wixcode-sdk/1.383.0\"\
        ,\"langs\":\"https://static.parastorage.com/services/langs/2.577.0\",\"linguist-flags\"\
        :\"https://static.parastorage.com/services/linguist-flags/1.363.0\",\"promote-analytics-adapter\"\
        :\"https://static.parastorage.com/services/promote-analytics-adapter/2.364.0\"\
        ,\"promote-seo-renderer\":\"https://static.parastorage.com/services/promote-seo-renderer/1.2.0\"\
        ,\"santa\":\"https://static.parastorage.com/services/santa/1.10384.0\",\"\
        santa-langs\":\"https://static.parastorage.com/services/santa-langs/1.8286.0\"\
        ,\"santa-resources\":\"https://static.parastorage.com/services/santa-resources/1.2.0\"\
        ,\"santa-site-auth-module\":\"https://static.parastorage.com/services/santa-site-auth-module/1.9.0\"\
        ,\"semi-native-sdk\":\"https://static.parastorage.com/services/semi-native-sdk/1.8.0\"\
        ,\"sitemembers\":\"https://static.parastorage.com/services/sm-js-sdk/1.31.0\"\
        ,\"skins\":\"https://static.parastorage.com/services/skins/2.1229.80\",\"\
        tag-manager-client\":\"https://static.parastorage.com/services/tag-manager-client/1.77.0\"\
        ,\"tbElements\":\"https://static.parastorage.com/services/editor-elements/1.637.0\"\
        ,\"tpa\":\"https://static.parastorage.com/services/tpa/2.1065.0\",\"web\"\
        :\"https://static.parastorage.com/services/web/2.1229.80\",\"wix-bolt\":\"\
        https://static.parastorage.com/services/wix-bolt/1.5947.0\",\"wix-code-platform\"\
        :\"https://static.parastorage.com/services/wix-code-platform/1.425.0\",\"\
        wix-code-viewer-app\":\"https://static.parastorage.com/services/wix-code-viewer-app/1.515.0\"\
        ,\"wix-music-embed\":\"https://static.parastorage.com/services/wix-music-embed/1.26.0\"\
        ,\"wix-perf-measure\":\"https://static.parastorage.com/services/wix-perf-measure/1.97.0\"\
        ,\"wix-ui-santa\":\"https://static.parastorage.com/services/wix-ui-santa/1.1180.0\"\
        ,\"wixapps\":\"https://static.parastorage.com/services/wixapps/2.486.0\",\"\
        wixcode-namespaces\":\"https://static.parastorage.com/services/wixcode-namespaces/1.520.0\"\
        },\"developerMode\":false,\"productionMode\":true,\"staticServerFallbackUrl\"\
        :\"https://sslstatic.wix.com/\",\"staticVideoUrl\":\"https://video.wixstatic.com/\"\
        ,\"cloudStorageUrl\":\"https://static.wixstatic.com/\",\"usersDomainUrl\"\
        :\"https://users.wix.com/wix-users\",\"scriptsDomainUrl\":\"https://static.parastorage.com/\"\
        ,\"userFilesUrl\":\"https://static.parastorage.com/\",\"staticHTMLComponentUrl\"\
        :\"https://www-cathavenlostandfound-com.filesusr.com/\",\"secured\":true,\"\
        ecommerceCheckoutUrl\":\"https://www.safer-checkout.com/\",\"premiumServerUrl\"\
        :\"https://premium.wix.com/\",\"digitalGoodsServerUrl\":\"https://dgs.wixapps.net/\"\
        ,\"wixCloudBaseDomain\":\"wix-code.com\",\"mailServiceSuffix\":\"/_api/common-services/notification/invoke\"\
        ,\"staticVideoHeadRequestUrl\":\"https://storage.googleapis.com/video.wixstatic.com\"\
        ,\"protectedPageResolverUrl\":\"https://site-pages.wix.com/_api/wix-public-html-info-webapp/resolve_protected_page_urls\"\
        ,\"mediaUploadServerUrl\":\"https://files.wix.com/\",\"siteAssetsServerUrl\"\
        :\"https://siteassets.parastorage.com/pages\",\"staticServerWixDomainUrl\"\
        :\"https://www.wix.com/_partials\",\"adaptiveVideoDomain\":\"https://files.wix.com/\"\
        ,\"userFileDomainUrl\":\"filesusr.com\",\"scriptsVersionsMap\":{\"stylable-santa-flatten\"\
        :\"1.0.198\",\"santa-main-r\":\"1.100.0\",\"remote-widget-structure-builder\"\
        :\"1.220.0\",\"santa-data-fixer\":\"1.927.0\",\"viewer-view-mode-json\":\"\
        1.73.0\",\"ghostable-structure-builder\":\"1.150.0\",\"santa-site-metadata\"\
        :\"1.636.0\"},\"publicStaticsUrl\":\"//static.parastorage.com/services/wix-public/1.299.0\"\
        };\n        var santaModels = true;\n        var isStreaming = true;\n   \
        \     var rendererModel = {\"metaSiteId\":\"0e9c7129-e1d5-44ca-9d4d-32b607186954\"\
        ,\"siteInfo\":{\"documentType\":\"UGC\",\"applicationType\":\"HtmlWeb\",\"\
        siteId\":\"7bfdeee2-7605-41e0-a5b7-025c85c5ae79\",\"siteTitleSEO\":\"Cat Haven\
        \ Lost and Found\"},\"clientSpecMap\":{\"0\":{\"type\":\"appbuilder\",\"applicationId\"\
        :0,\"appDefinitionId\":\"3d590cbc-4907-4cc4-b0b1-ddf2c5edf297\",\"instanceId\"\
        :\"134bb515-d8c6-649f-3804-9be4e0d024f3\",\"state\":\"Initialized\"},\"5\"\
        :{\"type\":\"public\",\"applicationId\":5,\"appDefinitionId\":\"1480c568-5cbd-9392-5604-1148f5faffa0\"\
        ,\"appDefinitionName\":\"Get Found on Google\",\"instance\":\"_Z01591GGWkJklBMh5plHGc0KgnZdyBH0Ij0IDsWhQo.eyJpbnN0YW5jZUlkIjoiZDRlNTEwOTMtZGI2Yy00NDlkLWE2NjMtNGFjOTZiM2Q0YzVmIiwiYXBwRGVmSWQiOiIxNDgwYzU2OC01Y2JkLTkzOTItNTYwNC0xMTQ4ZjVmYWZmYTAiLCJtZXRhU2l0ZUlkIjoiMGU5YzcxMjktZTFkNS00NGNhLTlkNGQtMzJiNjA3MTg2OTU0Iiwic2lnbkRhdGUiOiIyMDIwLTA1LTMxVDA0OjQ0OjIxLjk3N1oiLCJkZW1vTW9kZSI6ZmFsc2UsImFpZCI6Ijg3ZDUyYTQ5LTkxMWEtNDcwNS1iZWRmLTU2MGY4Y2ZkODczYiIsImJpVG9rZW4iOiJkYTc5NjFiYS0zYWI5LTAwNTctM2IyZS03ODdmNmMyNTI1MGIiLCJzaXRlT3duZXJJZCI6IjlmYTdhMGI0LWU4MWYtNDU3OS05NDk4LWRkZWU5YzhhMDVkOCJ9\"\
        ,\"instanceId\":\"d4e51093-db6c-449d-a663-4ac96b3d4c5f\",\"sectionPublished\"\
        :true,\"sectionMobilePublished\":false,\"sectionSeoEnabled\":true,\"widgets\"\
        :{},\"appRequirements\":{\"requireSiteMembers\":false},\"isWixTPA\":true,\"\
        installedAtDashboard\":true,\"permissions\":{\"revoked\":false},\"appFields\"\
        :{}},\"10\":{\"type\":\"public\",\"applicationId\":10,\"appDefinitionId\"\
        :\"f123e8f1-4350-4c9b-b269-04adfadda977\",\"appDefinitionName\":\"Promote\
        \ Home\",\"instance\":\"uo0TyqNAraE6Nk4PKTjD3XgSdLsdjcnlpY7dZFspz8I.eyJpbnN0YW5jZUlkIjoiYWNiODE5OTMtZTZlZC00NjA0LTgzMTktNjZlZmJhZWFkOTQ5IiwiYXBwRGVmSWQiOiJmMTIzZThmMS00MzUwLTRjOWItYjI2OS0wNGFkZmFkZGE5NzciLCJtZXRhU2l0ZUlkIjoiMGU5YzcxMjktZTFkNS00NGNhLTlkNGQtMzJiNjA3MTg2OTU0Iiwic2lnbkRhdGUiOiIyMDIwLTA1LTMx[...]
