
<!DOCTYPE html>

<title>Lost Pets</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='writ.css') }}"">

<header>
  <h1>Lost Pets</h1>
  <p>{{data.__len__()}} lost pets</p>
</header>

<main>
  {% for listing in data %}
  <p>
    <img src="{{listing.image}}"/>

    <table>
      <tbody>
        <tr><td>Location:</td><td>{{listing.location}}</td></tr>
        <tr><td>Breed:</td><td>{{listing.breed}}</td></tr>
        <tr><td>Color:</td><td>{{listing.color}}</td></tr>
        <tr><td>Gender:</td><td>{{listing.gender}}</td></tr>
        <tr><td>Found on:</td><td>{{listing.found_on.format('DD/MM/YYYY')}}</td></tr>
        <tr><td>Source:</td><td>{{listing.source}}</td></tr>
        <tr><td><a href="{{listing.url}}">More information</a></td></tr>
      </tbody>
    </table>
  </p>
  <hr/>
  {% endfor %}
</main>

<footer>
  <a href="https://github.com/mause/pets">Source code</a>&nbsp;|&nbsp;
  <a href="/index.json">Raw data</a>
</footer>
